.cart-page {
  background-color: var(--color-background);
  width: 100%;
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.cart-page__header {
  margin-bottom: 1.75rem;
}

.cart-page__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page__title {
  color: var(--color-foreground-heading);
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.cart-page__header-inner .cart-page__continue-link {
  text-decoration: none;
  color: var(--color-foreground);
  font-size: var(--font-accent--scale);
  font-family: var(--font-accent--family);
  font-weight: var(--font-accent--weight);
  letter-spacing: var(--font-accent--letter-spacing);
  text-transform: var(--font-accent--text-case);
}




